:root {
    --black: #2C3E50;
    --light-green: #2ECC71; 
    --light-gray: #F0F3F4;
    --gray: #CACFD2;
    --darkgray: #566573;
    --white: #FFFFFF;
    --font: 'Space Grotesk', sans-serif;
}


/* ITEM FORM */
